{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <span>
            <i class="material-icons">settings</i> {% block cardHeaderTitle %} {% endblock %}
          </span>
          <span>
            {% block cardHeaderAction %} {{''}} {% endblock %}
          </span>
        </div>
        <div class="card-body card-block">
          {% block contentForm %}
          {% endblock %}
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/atom-one-dark.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
